# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/Xcode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/*.perspectivev3
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/.gitignore
!**/ios/**/readme.md

# Coverage directory used by tools like lcov.
coverage/

# lib/main.dart.js (For Flutter Web)
lib/main.dart.js

# Windows
windows/flutter/ephemeral/

# MacOS
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/ephemeral/
**/macos/Flutter/.last_build_id
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/flutter_assets/
**/macos/Flutter/App.framework
**/macos/Flutter/Flutter.framework
**/macos/Runner.xcworkspace/xcshareddata
**/macos/Runner.xcworkspace/xcuserdata
**/macos/Runner/Flutter/Generated.xcconfig
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Profile.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/GeneratedPluginRegistrant.swift
